
*{
    box-sizing: border-box;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 40px;
    height: 100px;
}
#tabla_shop{
    width: 80%;
    margin: auto;
}
#user{
    border-bottom: 2px solid rgba(0, 0, 0, 0.459);
    text-align: center;
    width: 50%;
    text-decoration: darkmagenta;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    
}
#title{
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 40px;
}
img{
    margin: auto;
    display: block;
    text-align: center;
}
#button_shop{
    display: block;
    height: 100px;
    width: 200px;   
    border: grey solid 2px;
    margin: auto;
    text-align: center;
    padding-top: 2.9%;
    cursor: pointer;
}