
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logging {
    height: 360px;
    width: 290px;
    text-align: center;
    display: block;
    margin: auto;
    margin-left: 15%;
    margin-top: 34%;

    position: absolute;
    left: 0;
    top: 0px;
}
#logo {
    margin-top: 20px;
}
#cont_imag_fondo{
  
    width: 77%;
    position: absolute;
    right: 0;
    height: 100%;
    margin-top: 0;
    background-image: url( icon/unnamed.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    width: 180px;
    height: 34px;
    border-radius: 5px;
    font-size: 21px;
}
#cont_logging{
    position: absolute;
    display: block;
    height: 100%;
    width: 33%;
    background-color: rgb(22, 0, 32);
    background-attachment: fixed;
  /* border-top-right-radius: 85px;
    border-bottom-right-radius: 85px;*/

}
#cont_logging::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0   0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    
}
#enter{
    cursor: pointer;
}
#a2, #a1{
    display: block;
    color: white;
    text-decoration: none;
  }
  /* #a2{ margin-top: 2px;} */
  #a2:hover{color: rgb(218, 106, 203);}
  #a1:hover{color: rgb(218, 106, 203);}
.img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}
#cont_link{
    margin-top: 25px;
  /*  border: thistle solid 2px;*/
    width: 300px;
}
#nav_bar{
    position: absolute;
    width: 100%;
    height: 9%  ;
    z-index: 99;
    background-color: rgb(27, 26, 26);
    border-bottom: lavender solid 1px;
    color: white;
    text-align: center;
    padding-top: 1.2%;
    font-size: 20px;
}
#link{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
#user, #password{
    color: rgb(129, 129, 129);
}
#icon1{
    background-image: url(icon/facebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
 /*   border: 2px solid white;*/
    animation: animacion1 2s;
    display: inline-block;
}
@keyframes animacion1{
    0%   {width: 50; height: 50;}
    36%  {width: 65px; height: 65px; background-size: 65px 65px;background-image: url(icon/facebook2.png); }
    58%  {transform: rotate(40deg)}
    70% {width: 65px; height: 65px;transform: rotate(-30deg);background-size: 65px 65px;;background-image: url(icon/facebook2.png);}
    100%{}
}
#icon2{
    background-image: url(icon/instagram-new.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
   /* border: 2px solid white;*/
    animation: animacion2 1.5s;
    animation-delay: 1.5s;
    display: inline-block;
}
@keyframes animacion2{
    0%   {width: 50; height: 50;}
    36%  {width: 65px; height: 65px; background-size: 65px 65px;background-image: url(icon/instagram-new2.png); }
    58%  {transform: rotate(40deg)}
    70% {width: 65px; height: 65px;transform: rotate(-30deg);background-size: 65px 65px;;background-image: url(icon/instagram-new2.png);}
    100%{}
}
#icon3{
    background-image: url(icon/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
   /* border: 2px solid white;*/
    animation: animacion3 1.5s;
    display: inline-block;
    animation-delay: 3s;
}
@keyframes animacion3{
    0%   {width: 50; height: 50;}
    36%  {width: 65px; height: 65px; background-size: 65px 65px;background-image: url(icon/twitte2r.png); }
    58%  {transform: rotate(40deg)}
    70% {width: 65px; height: 65px;transform: rotate(-30deg);background-size: 65px 65px;;background-image: url(icon/twitte2r.png);}
    100%{}
}
#icon4{
    background-image: url(icon/youtube2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
 /*   border: 2px solid white;/*/
    animation: animacion4 1.5s;
    display: inline-block;
    animation-delay: 4.5s;
}
@keyframes animacion4{
    0%   {width: 50; height: 50;}
    36%  {width: 65px; height: 65px; background-size: 65px 65px;background-image: url(icon/youtube4.png); }
    58%  {transform: rotate(40deg)}
    70% {width: 65px; height: 65px;transform: rotate(-30deg);background-size: 65px 65px;;background-image: url(icon/youtube4.png);}
    100%{}
}